# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.

root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation for various file types
[*.{js,ts,css,html,py,cs,cshtml,xml,config}]
indent_style = space
indent_size = 4

# Tab indentation for Makefiles
[Makefile]
indent_style = tab

# Trim trailing whitespace for various file types
[*.{js,ts,css,html,py,cs,cshtml,xml,config}]
trim_trailing_whitespace = true

# Set charset to utf-8 for various file types
[*.{js,ts,css,html,py,cs,cshtml,xml,config}]
charset = utf-8

# Specific settings for JSON files
[*.json]
indent_style = space
indent_size = 2

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false
